/*
Program Name: SebasSalHW1.css
Name: Sebastian Andre Salazar
Date Created: 06/21/2026
Date Last Edited: 06/21/2026
Version:1.0
Description: External CSS code for HTML patient registration form
*/

body {
    background-color: rgb(138, 202, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
}

div.myHeader {
background-color: rgb(255, 255, 255);
padding: 2.5%;
}



div.formDivision {

border: rgb(0, 0 ,0);
}


div.formFooter {
 background-color: rgb(255, 255, 255);

}




/* Used W3Schools and homework2.css from Jake's Yucky Homework 2 for reference and help

*/


